nav {
  background: #222;
  padding: 1px 15px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
}

.menu-item {
  padding: 10px;
  color: white;
}

.container {
  display: flex;
  padding: 8px;
}

.container-item {
  flex-grow: 1;
  height: 100px;
}

.user-container {
  display: flex;
}

.user-container-item {
  padding: 0 16px;
}
